{% extends "shared/base.html" %}


{% block title %}
  <title>List All Sellers</title>
{% endblock %}

{% block content %}
  <div class="container">
  <div class="row">
    <div class="col">
      <h1 class="display-5 text-center text-danger mb-3">List All Sellers</h1>
    </div>
    <div id="result" class="text-danger text-bold lead"></div>
  </div>

  <div class="row">
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">PayPal</th>
            <th scope="col">Collection</th>
            <th scope="col">Buy</th>
          </tr>
        </thead>
        <tbody>
          {% for seller in sellers %}
            <tr>
                <td>{{seller.name}}</td>
                <td>{{seller.email}}</td>
                <td>{{seller.paypal}}</td>
                <td>{{seller.collection}}</td>
                <td>
                  <input type="checkbox" id="{{seller.id}}" />
                </td>
            </tr>
          {% endfor %}
        </tbody>
    </table>
  </div>
</div>
{% endblock %}


{% block scripts %}
{% endblock %}
